*{
    margin: 0px;
    padding: 0px;
}
.menu-btn{
    display: none;
}
.menu-icon{
    display: none;
}
#body{
    background-color: #4D4D5E;
}
.home .Name{
    padding: 3em;
    position: absolute;
    margin-top: 8%;
}
.home .Name h2{
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.home .Name h5{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;
    font-weight: 600;
}     
.nav-bar ul{
    float: right;
}
.nav-bar ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top:20px;
}
.nav-bar ul a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.nav-bar ul a:before{
    position: absolute;
    content: '';
    left:0;
    bottom:0;
    height: 2px;
    width:100%;
    border-radius: 5px;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms linear;
}
.nav-bar ul a:hover:before{
    transform: scaleX(100%);
}
@media only screen and (max-width:700px)
{
    .home .Name{
        padding:2em;
        position: absolute;
        margin-top: 15%;
    }
    .home .Name h2{
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
        color: white;
    } 
    .home .Name h5{
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        
        color: white;
    }
    .nav-bar{
        position: fixed;
        z-index: 2;
        right: -100%;
        transition: right 200ms ease-out;
    }
    .nav-bar ul{
       
        background-color: rgb(75, 75, 75); 
        display: flex;
        padding-top: 35%;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .nav-bar ul a{
        font-size: 1.5 em;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;  
        line-height: 2.5em;  
    }
  
    .nav-bar ul a:hover{
        color: rgb(185, 179, 179);
    }
    .menu-icon{
        display: block;
        position: fixed;
        z-index: 4;
        bottom: 20px;
        right: 20px;
    }
    .circle{
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
        background: transparent;
        border: 2.5px solid white;
        border-radius: 50%;
        cursor: pointer;  
    }
    .ham{
        
        background: white;
        display: block;
        height: 2.5px;
        width: 20px;
        position: relative;
        border-radius: 1px;
        transform: scale(1);
        top: 23px;
        left: 10px;
    }
    .ham::before{
        content:"";
        background: white;
        display: block;
        height: 2.5px;
        width: 30px;
        position: absolute;
        top: 10px;
        border-radius: 1px;
        transition: transform .2s ease-out;
    }
    .ham::after{
        content:"";
        background: white;
        display: block;
        height: 2.5px;
        width: 30px;
        position: absolute;
        top: -10px;
        border-radius: 1px;
        transition: transform .2s ease-out;
    }
    .menu-btn:checked ~ .nav-bar
    {
       right: 0%;
    }
    .menu-btn:checked ~ .menu-icon .ham{
        height: 0px;
    }
    .menu-btn:checked ~ .menu-icon .ham::before{
        transform: rotate(45deg);
        top:0;
    }
    .menu-btn:checked ~ .menu-icon .ham::after{
        transform: rotate(-45deg);
        top: 0px;
    }
}
